.App {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}


.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Topbar-container {
  background-color: #222222;
  height: 100px;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.Logo-container {
  position: absolute;
  left: 60px;
  top: 25px;
}

.Searchbar-container {
  padding: 20px;
}

.Searchbar {
  padding: 20px;
  color: rgb(167, 167, 167);
  float: right;
  border-radius: 12px 12px 12px 12px;
  font-family: 'Source Serif Pro', serif;
  font-size: large;
}

.Content-container {
  display: table;
}

.Sidebar-container {
  background-color: lightgrey;
  height: 100%;
  width: 320px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  top: 100px;
  text-align: left;

  
  filter: drop-shadow(0px 0px 2.5px black);
}

.Sidebar-color-selection {
  padding-left: 30px;
  color: black;
  text-decoration: none;
  margin: 15px 0px 15px 0px;
}

.Sidebar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px .5px black);

}

.Sidebar-button {
  margin: 50px 0px 40px 0px;
  padding: 15px 40px 15px 40px;
  color: black;
  background-color: white;
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  font-size: 30px;
  font-family: 'Source Serif Pro', serif;

}

.Color-grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 260px 260px 260px;
  grid-gap: 55px;
  grid-row-gap: 30px;
  margin: 135px 30px 80px 350px;
}

.Color-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(0px 0px 2.5px grey);
}

.Color-grid-item-color {
  height: 205px;
  border-radius: 15px 15px 0px 0px;
}

.Color-grid-item-name {
  text-align: left;
  padding-left: 30px;
  font-size: 30px;
  height: 55px;
  color: black;
  background-color: whitesmoke;
  border-radius: 0px 0px 15px 15px;
}

.Page-selection-container {
  display: inline-block;
  justify-content: center;
  color: black;

}

.Page-selection {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

.Page-selection-chosen {
  margin-left: 20px;
  color: black;
}

.logo {
  height: 100%;
  width: 100%;
  z-index: 10;
}
.logoimg {
  z-index: 10;

  background-color: #764abc;
  -webkit-mask: url(./logo-symbol.svg) no-repeat center;
  mask: url(./logo-symbol.svg) no-repeat center;
  height: 900px;
  width: 300px;
}

.Detail-view-container {
  max-width: 600px;
  max-height: 800px;

}

.Detail-view-big-color-container {
  filter: drop-shadow(0px 0px 2.5px grey);
  margin: 0px 10px 80px 5vh;

}

.Detail-view-big-color {
  height: 50vh;
  width: 70vh;
  border-radius: 15px 15px 0px 0px;
}

.Detail-view-big-color-name {
  text-align: left;
  font-size: 5vh;
  height: 10vh;
  width: 70vh;
  color: black;
  background-color: whitesmoke;
  border-radius: 0px 0px 15px 15px;
  padding-left: 0px;
  padding-top: 5vh;
  
}

.Detail-view-other-color-container-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 220px;
  grid-template-rows: 0px;
  grid-gap: 10px;
  grid-row-gap: 10px;
  margin: 5vh 10px 0px 0vh;
}

.Detail-view-other-color-container {
  filter: drop-shadow(0px 0px 2.5px grey);

}

.Detail-view-other-color {
  height: 10vh;
  width: 15vh;
  border-radius: 15px 15px 0px 0px;

}

.Detail-view-other-color-name {
  text-align: left;
  font-size: 30px;
  height: 5vh;
  width: 15vh;
  color: black;
  background-color: whitesmoke;
  border-radius: 0px 0px 15px 15px;
  
}