.App {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}


.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Topbar-container {
  background-color: #222222;
  height: 100px;
  width: 100%;
  z-index: 3;
  position: static;
  top: 0;
  left: 0;
  right: 0;
}

.Logo-container {
  position: absolute;
  left: 60px;
  top: 25px;
}

.Content-container {
  display: table;
}

.Sidebar-container {
  background-color: lightgrey;
  height: 100%;
  width: 320px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  top: 100px;
  text-align: left;
  padding-left: 30px;
  
  filter: drop-shadow(0px 0px 2.5px black);
}

.Sidebar-color-selection {
  color: black;
  text-decoration: none;
}

.Color-grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 260px 260px 260px;
  grid-gap: 55px;
  grid-row-gap: 30px;
  margin: 135px 30px 80px 350px;
}

.Color-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border-radius: 15px 15px 15px 15px;
  filter: drop-shadow(0px 0px 2.5px grey);
}

.Color-grid-item-color {
  height: 205px;
  border-radius: 15px 15px 0px 0px;
}

.Color-grid-item-name {
  text-align: left;
  padding-left: 30px;
  font-size: 30px;
  height: 55px;
  color: black;
  background-color: whitesmoke;
  border-radius: 0px 0px 15px 15px;
}

.Page-selection-container {
  display: inline-block;
  justify-content: center;
  color: black;

}

.Page-selection {
  margin-left: 20px;
}

.logo {
  height: 100%;
  width: 100%;
  z-index: 10;
}
.logoimg {
  z-index: 10;

  background-color: #764abc;
  -webkit-mask: url(./logo-symbol.svg) no-repeat center;
  mask: url(./logo-symbol.svg) no-repeat center;
  height: 900px;
  width: 300px;
}
